@page "/game"
@inject IGameServiсe GameService
@attribute [StreamRendering]

<PageTitle>Game</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates showing data.</p>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Дата старта</th>
                <th>Цена билета (сомони)</th>
                <th>Количество билетов</th>
                <th>Описание</th>
                <th>Автивен</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games)
            {
                <tr>
                    <td>@game.StartDate.ToShortDateString()</td>
                    <td>@game.Price</td>
                    <td>@game.TicketCount</td>
                    <td>@game.Text</td>
                    @if (@game.Active == true){
                        <td>Да</td>
                    }else{
                        <td>Нет</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Game> games = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        games = await GameService.GetAllGames();
    }
}
